<div class="customCollection">


<ul class="customList">
{%for product in section.settings.collection.products %}
<li class="customItem">
  {% if product.featured_image%}
    <img class="customImage" width="300" height="300" src="{{ product | image_url }}" alt="product"/>
  {% endif %}
  <h3>{{ product.title }}</h3>
  <p class="customDescription">{{ product.description }}</p>
  <p>{{ product.variants.price | money }}</p>
  <select class="customSelect" name="Sort_ByColor" id="SortByColor">
{% for product in product.variants %}
<option   value="{{ product.title | escape }}"  {% if option.value == Sort_ByColor %}
                        selected="selected"
                      {% endif %}>{{ product.title}}</option>
  {% endfor %}
  </select>
</li>
  {%endfor%}
 
</ul>
</div>

  {{ section.settings.collection.products | json }}