<div class="customCollection">
  {{ section.settings.collection.products | json }}
  {%for collection in collections %}
  <h2>{{ collection.title }}</h2>
  {%unless collection.description == blank%}
  <p>{{ collection.description }}</p>
  {%endunless%} {%for product in collections.products %} {% if product.featured_image%}
  <img width="20" height="20" src="{{ product | image_url }}" />
  {% endif %}
  <h3>{{ product.title }}</h3>
  <p>{{ product.description }}</p>
  <p>{{ product.price | money }}</p>
  {%endfor%} {%endfor%}
</div>
