  <script src="{{ 'myScript.js' | asset_url }}" defer></script>
    
  <div class="customCollection">
  <ul class="customList">
    {% for product in section.settings.collection.products %}
      <li class="card__list">
         {% if product.variants[0].featured_image.src %}
            {% assign customSrc = product.variants[0].featured_image.src %}
         {% else %}
            {% assign customSrc = product | image_url  %}
         {% endif %}
          <img class="card__image" width="300" height="300" src="{{ customSrc | image_url }}" id="image" alt="product"/>
          <h3 class="card__title">{{ product.title }}</h3>
          <p class="card__description">{{ product.description }}</p>

           {% if product.variants[0].price %}
             {% assign customPrice = product.variants[0].price %}
           {% else %}
             {% assign customPrice = product.price %}
           {% endif %}

          <p id="customPrice">{{ customPrice | money_with_currency }}</p>
        
<!-- FORM -->
        
    {% form 'product', product %}
      <label class="product-option" for="SortByColor"></label>
           <select class="card__select customSelect " name="id" id="SortByColor">
            {% for variant in product.variants %}
              <option value="{{ variant.id }}" data-variant-price="{{ variant.price }}" data-variant-image="https:{{ variant.featured_image.src | img_url: 'master' }}">
                {{ variant.title }}
              </option>
            {% endfor %}
           </select>
            
      <div>
         <quantity-input class="quantity" style="width: calc(12rem / var(--font-body-scale) + var(--inputs-border-width) * 2); margin-top:0;" >
         <button class="quantity__button no-js-hidden" name="minus" type="button">
         <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
          {% render 'icon-minus' %}
        </button>
             <input class="quantity__input" type="number" name="quantity" id="quantity" min="1" value="1" step="1">
        <button class="quantity__button no-js-hidden" name="plus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
         {% render 'icon-plus' %} 
        </button>
        </quantity-input>
     </div>

        
    
          <button class="button customButton product-add" type="submit">ADD TO BOX</button>
   
 {% endform %}
      
    <!-- END FORM -->
        
     </li>
       {% endfor %}
  </ul>
</div>
